@import "compass/css3";


html, body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 0;
    font-family: 'Lato', sans-serif;
    background-image: url(uzay3.jpg);
background-size: cover;
background-repeat: repeat;
    color: #fff;
}

.world {
    position: absolute;

    width: 65%;
    height: 80%;
    cursor: pointer;
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
    
}

.world-bg {

    position: absolute;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
}

.world-globe {

    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
}

.world-globe-pole {

    position: absolute;
    width: 530px;
    height: 530px;
    left: -265px;
    top: -265px;
    border-radius: 50% 50%;
    background-color: #fff;
}

.world-globe-doms-container {

    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
}

.world-globe-halo {

    position: absolute;
    left: 50%;
    top: 50%;
    width: 730px;
    height: 715px;
    margin-left: -368px;
    margin-top: -350px;
    
}


.info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 12px;
}
.info-desc {
    color: #ddd;
    font-size: 10px;
}
a {
    color: white;
}
.screen{


width: 1000px;
height: auto;
margin-right: auto;
padding-right: 175px;
margin-left: auto;
background-color: black;

}

.selector{

display: flex;
border: 2px solid blue;
border-radius: 5px;

}

.selectorelement8,.selectorelement7,.selectorelement6,.selectorelement5,.selectorelement4,.selectorelement3,.selectorelement2,.selectorelement1{
font-size: 20px;
margin-left: 35px;

}
.selectorelement{
    font-size: 20px;

padding-left: 15px;
}

.title{

color:white;
font-size: 28px;
}

.introduce{

margin-top:625px;


}
.screennew{
display: flex;
}

.neww{

margin-top: 200px;
height: 650px;
margin-left: 50px;
}
